

/* Reset some default styles to ensure consistent rendering */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Set the background image for the login page */
body.login {
  background-image: url("../img/imagemdefundo.jpg");
  background-size: cover;
}

/* Center the login form vertically and horizontally */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the form container */
div.container {
  max-width: 300px;
  padding: 40px;
  background-color:#143c14;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  
}

/* Style the logo image */
div.logo img {
  max-width: 50%;
  height: auto;
  margin: 0 auto 15px; /* Center the logo image horizontally */
  display: block;
}

/* Style the form input fields */
input.form-control {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/* Style the login button */
button.btn-success {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
}

/* Center the form horizontally within the container */
div.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

