

/* estilo da página */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Definição da imagem de fundo da tela de login(index) */
body.login {
  background-image: url("../img/imagemdefundo.jpg");
  background-size: cover;
}

/* centralização do formulário da tela de login(index) */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilizar o contêiner de formulário login(index) */
div.container {
  max-width: 300px;
  padding: 40px;
  background-color:#143c14;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  
}

/* Estilize a imagem do logotipo do login(index) */
div.logo img {
  max-width: 50%;
  height: auto;
  margin: 0 auto 15px; /* Centralize a imagem do logotipo horizontalmente */
  display: block;
}

/* Estilizar os campos de entrada do formulário do login(index) */
input.form-control {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/* Estilize o botão de login(index) */
button.btn-success {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
}

/* Centralize o formulário horizontalmente dentro do contêiner do login(index) */
div.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}








/* Header styles */
header.corpo {
  padding: 0px;
  box-shadow: 10 2px 4px rgba(0, 0, 0, 0.1);
}

div.iconelogo img {
  max-width: 50px;
  height: auto;
  margin: 0 auto 15px; /* Centralize a imagem do logotipo horizontalmente */
  display: block;
}

/* Main content area styles */
.area-login {
  background-color: #fff;
  width: 30%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Notepad styles */


#notepad h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Note styles */
.bloco {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.bloco input[type="checkbox"] {
  margin-right: 10px;
}

.bloco input[type="text"] {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

/* Button styles */add-note-btn {
  margin-top: 20px;
}

.add-note-btn button {
  margin-right: 10px;
}

/* Adjust the mobile menu icon color */
.navbar-toggler-icon {
  color: #000; /* Change to the desired color */
}


.a{
  color: black;
    text-decoration: underline;
}

navbar-brand{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*
nav.navbar{
  width: 10px;
  padding: 12px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  background-color: #23232e;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}*/
